body {
  margin: 0;
  display: flex;
  height: 100vh;
  /* background-color: #f2f2f2; moved to elements style */
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.main-content {
  overflow: auto;
  height: 100%;
}
.app-bar {
  position: absolute;
}
#app {
  width: 100%;
}
h1 {
  @include mdc-typography(headline1);
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0 2rem;
}
h2 {
  @include mdc-typography(headline2);
  font-size: 2rem;
  line-height: 2rem;
  margin: 2rem 0 1rem;
}
h3 {
  @include mdc-typography(headline3);
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 2rem 0 1rem;
}
p {
  @include mdc-typography(body1);
  margin: 1rem 0 1rem;
}
.app-fab--absolute {
  position: fixed ! important;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}
.mdc-drawer-app-content {
  height: 100%;
}

@media (min-width: $width-md) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

/* MDC TABLE */

.mdc-table {
  width: 100%;
}

.mdc-table td {
  cursor: pointer;
  padding: 1rem 0 1rem .8rem;
  border-bottom: 1px solid #dcdcdc;
}

.mdc-table td:first-child {
  padding-left: 0;
}

.mdc-table tr:first-child td {
  border-top: 1px solid #dcdcdc;
}

.mdc-table--big td {
  font-size: 110%;
}

/* TRANSITIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.message-of-empty {
  margin-top: 20%;
}

.message-of-empty::after {
  content: 'Нет\Aданных.';
  @include mdc-typography(headline1);
  font-size: 5rem;
  line-height: 5rem;
  opacity: .5;
  white-space: pre-wrap;
}
