$mdc-theme-primary: #263238;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-primary-light: #4f5b62;
$mdc-theme-on-primary-light: #ffffff;

$mdc-theme-primary-dark: #000a12;
$mdc-theme-on-primary-dark: #ffffff;

$mdc-theme-secondary: #01579b;
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-secondary-light: #4f83cc;
$mdc-theme-on-secondary-light: #000000;

$mdc-theme-secondary-dark: #002f6c;
$mdc-theme-on-secondary-dark: #ffffff;
