$mdc-theme-primary: #01579b;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-primary-light: #4f83cc;
$mdc-theme-on-primary-light: #ffffff;

$mdc-theme-primary-dark: #002f6c;
$mdc-theme-on-primary-dark: #ffffff;

$mdc-theme-secondary: #01579b;
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-secondary-light: #4f83cc;
$mdc-theme-on-secondary-light: #000000;

$mdc-theme-secondary-dark: #002f6c;
$mdc-theme-on-secondary-dark: #ffffff;

$width-sm: 479px; // Small screen / phone
$width-md: 840px; // Medium screen / tablet
$width-lg: 1200px; // Large screen / desktop
